div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
}

div.desc {
    padding: 15px;
    height: 50px;
    text-align: center;
    overflow: hidden;
}