<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>StreetArt: Add Artwork</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="../../css/default.css" /> -->
    <style>
        .photo_test{  
            overflow: hidden;
            width: 100px;
            height: 100px;
        }
        .photo_test input {
          position: relative;
    top: -200px;
    width: 100px;
    height: 100px;
    opacity: 0;
    float: left;
        }

        .photo_test img {
                position: relative;
    top: -50px;
    left: -100px;
        }
    </style>
</head>

<body>
    <form action="./add" method="POST" enctype="multipart/form-data" class="addArtwork" id="input_form" style="height:530px">
        <h1>Add Artwork</h1>
        <fieldset class="artwork">
            <legend>Artwork Details</legend>
            <p>
                <label>Artwork Name</label>
                <input type="text" name="name" />
                <label>Website</label>
                <input type="text" name="url" />
            </p>
            <p>
                <label>Artwork Description</label>
                <input type="text" name="description" />
                <label>Artwork Status</label>
                <select name="status_code">
                    <option value="0">Artwork Is Available</option>
                    <option value="1">Artwork Is Stolen</option>
                    <option value="2">Artwork Is Destroyed</option>
                </select>
            </p>
        </fieldset>
        <fieldset class="location">
            <legend>Artwork Location</legend>
            <p>
                <label>Location Address</label>
                <input type="text" name="location_address" class="long" />
            </p>
            <p>
                <label>Location Lat</label>
                <input type="text" name="location_lat" class="short" />
                <label>Location Lng</label>
                <input type="text" name="location_lng" class="short" />
            </p>
        </fieldset>
        <fieldset class="artist" id="artist_placeholder">
            <legend>Artist Details
                <button onclick="javascript:addArtist();" type="button">+</button>
            </legend>
        </fieldset>
        <fieldset class="photo" id="photo_placeholder">
            <legend>Photos
            <button onclick="javascript:addPhoto();" type="button">+</button>
            </legend>
            <div class=photo_test>
                <img src='/add.png'/>
                <input type='file' name='photo_test' accept='image/*'/>
            </div>
            <div class=photo_test>
                <img src='/add.png'/>
                <input type='file' name='photo_test' accept='image/*'/>
            </div>
        </fieldset>
        <fieldset class="icon">
            <legend>Do we really need that?</legend>
            <p>
                <label>Icon</label>
                <input type="file" accept="image/*" name="icon" />
                <label style="color:#FFFFFF">.</label>
                <div>
                    <button class="button" type="submit">Add Artwork</button>
                </div>
            </p>
        </fieldset>
    </form>
    <script>
        var artist_count = 0;
        var photo_count = 0;
        var form_height = 530;

        addArtist(0);
        addPhoto(0);

        function placeImage(id, file) {
                var img = document.getElementById(id);

                // Using FileReader to display the image content
                var reader = new FileReader();
                reader.onload = (function(aImg) {
                    return function(e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
        }

        function addArtist() {
            artist_count++;
            var placeholder = document.getElementById('artist_placeholder');
            var div = document.createElement("div");
            var html = parametrizedArtistInput(artist_count);
            div.innerHTML = html;
            placeholder.appendChild(div);
            formHeightPlus(div.clientHeight);
        };
        
        function addPhoto() {
            photo_count++;
            var placeholder = document.getElementById('photo_placeholder');
            var div = document.createElement("div");
            var html = parametrizedPhotoInput(photo_count);
            div.innerHTML = html;
            placeholder.appendChild(div);
            formHeightPlus(div.clientHeight);
        };
        
        function formHeightPlus(i){
            form_height += i;
            var form = document.getElementById('input_form');
            form.style.height = form_height + "px";
        };
        
        
        function parametrizedArtistInput(i){
            var html =   
                "    <p>" +
                "        <label>Artist Name</label>" +
                "        <input type='text' name='artist_name" + i + "' />" +
                "        <img id='artist_img" + i + "' style='width:100px;height:100px;border:0px'/>" +
                "    </p>" +
                "    <p>" +
                "        <label>Artist Photo</label>" +
                "        <input type='file' id='artist_photo' name='artist_"+i+"' accept='image/*' onchange='javascript:placeImage('artist_img" + i + "', this.files[0]);'/>" +
                "    </p>";
                return html;
        };
        
        function parametrizedPhotoInput(i){
            var html = 
                "    <p>" +
                "        <label>Photo Title</label>" +
                "        <input type='text' name='photo_title" + i + "' />" +
                "        <img id='photo_preview" + i + "' style='width:100px;height:100px;border:0px'/>" +
                "    </p>" +
                "    <p>" +
                "        <label>Artist Photo</label>" +
                "        <input type='file' id='photo_fullres' name='photo_"+i+"' accept='image/*' onchange='javascript:placeImage('photo_preview" + i + "', this.files[0]);'/>" +
                "    </p>";
                return html;
        };
    </script>
</body>

</html>
